.nav-item {
  margin: 0;
  padding-right: 45px;
}

nav {
  background: rgb(16, 20, 25);
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  background: rgb(16, 20, 25);
}

.nav-link {
  color: #4dafe1;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: white;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #4dafe1;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.social-media {
  display: inline-block;
}

.get-in-touch {
  display: block;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 75px;
  font-size: 80px;
  color: #4dafe1;
}

.contact-contents {
  display: inline-block;
  text-align: center;
}

.email-contents,
.phone-contents,
.linkedin-contents {
  text-align: center;
}

.email-image,
.phone-image,
.linkedin-image {
  background-color: white;
  height: 10%;
  width: 10%;
  border-radius: 60%;
  display: inline-block;
  text-align: center;
}

.email-link {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  padding: 30px;
  border-radius: 5px;
}

.wrapper .title h1 {
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea {
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 25px;
  justify-content: end;
}

.btn:hover {
  background-color: #4dafe1;
  border: 1px solid white;
  color: white;
}

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
