.navbar {
    background-color: #999b9c;
  }
  
  .nav-item {
    margin: 0;
    padding-right: 45px;
  }
  
  body {
    background: rgb(16, 20, 25);
  }

  .nav-link {
    color: #4dafe1;
    text-decoration: none;
    position: relative;
  }
  
  .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #4dafe1;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-link:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  
  .social-media {
    display: inline-block;
  }

  .projects {
    display: block;
    text-align: center;
    padding-top: 100px;
    font-size: 80px;
    color: #4dafe1;
  }

  .card {
      margin: 5px;
      background: rgb(16, 20, 25);
  }

  .card-img-top {
    border-radius: 5px;
    padding-top: 10px;
  }

  .card-body {
    color: white;
    display: inline-block;
    text-align: center;
  }

  .hvr-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 7px;
    margin: 5px;
    color:#4dafe1;
    font-style: italic;
  }

  .hvr-reveal:hover {
    color: white;
  }

  .hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #4dafe1;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
  }

  .contact-resume-links {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
  }

  .contact, .resume {
    display: inline-block;
  }