.navbar {
  background-color: #999b9c;
}

.nav-item {
  margin: 0;
  padding-right: 45px;
}

body {
  background: rgb(16, 20, 25);
}

.greeting {
  display: block;
  text-align: center;
  padding-top: 100px;
  font-size: 80px;
  color: white;
}

.name {
  color: #4dafe1;
}

.tool-man {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: white;
}

.see-more {
  font-size: 20px;
  padding-top: 300px;
  color: white;
  content: "\2193";
}

.nav-link {
  text-decoration: none;
  transition: transform 250ms;
  color: #4dafe1;
}

.nav-link:hover {
  transform: translateY(-3px);
  color: #4dafe1;
}

.social-media {
  padding-left: 15px;
  display: inline-block;
}

.intro {
  text-align: center;
}

.about {
  text-align: center;
  font-size: 45px;
  color: #4dafe1;
  padding-top: 150px;
}

.about-paragraph {
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.skills {
  color: #4dafe1;
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
  display:block;
}

.skills-image {
  display: block;
  margin: auto;
}

.projects {
  text-align: center;
  font-size: 45px;
  color: #4dafe1;
  padding-top: 150px;
  padding-bottom: 20px;
  display: block;
}

.hidden-links {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  background:rgb(16, 20, 25);
}

.project-item:hover .card-img{
  opacity: .3;
}

.project-item:hover .hidden-links {
  opacity: 1;
}

.card-title {
  color: white;
}

.card-image {
  opacity: 1;
  transition: .1s ease;
  backface-visibility: hidden;
}

.view-webiste {
  margin: 10px;
  display: block;
  color: #4dafe1;
  font-style: italic;
  text-decoration: underline;
}

.about-project {
  color: #4dafe1;
  font-style: italic;
  text-decoration: underline;
}

.view-webiste:hover, .about-project:hover {
  text-decoration: none;
}