html {
  scroll-behavior: smooth;
}

.nav-item {
  margin: 0;
  padding-right: 45px;
}

nav {
  background: rgb(16, 20, 25);
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  background: rgb(16, 20, 25);
  font-family: "Lato", sans-serif;
}

.greeting {
  display: block;
  text-align: center;
  padding-top: 100px;
  font-size: 5rem;
  color: white;
}

.name {
  color: #4dafe1;
}

.nav-link {
  color: #4dafe1;
  text-decoration: none;
  position: relative;
}

.nav-link:hover {
  color: white;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #4dafe1;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.social-media {
  display: inline-block;
}

.intro {
  display: flex;
  align-content: center;
  justify-content: center;
}

.resume-link {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 350px;
}

.resume {
  display: inline-block;
  color: #4dafe1;
  margin: 15px;
  font-size: 2rem;
}

.resume:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 575px) {
  .nav-link::before {
    transition: none;
  }

  .nav-link:hover::before {
    left: 0;
    right: 0;
    width: 0;
  }
}

/* projects section css */
.projects-section {
  background-color: rgb(247, 247, 247);
  padding-bottom: 30px;
  padding: 0 40px 30px 40px;
}

.projects {
  display: block;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 45px;
  font-size: 4rem;
  color: #4dafe1;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  padding: 50px 0;
}

.project-container {
  width: 90%;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b2b2b2;
  border-radius: 25px;
  padding: 20px 20px;
  margin: 10px 0;
}

.project-image-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.project-image {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
}

.project-information {
  height: 100%;
  width: 50%;
  margin: 10px 0 0 20px;
}

.project-title {
  font-size: 2.1rem;
  color: #4dafe1;
  margin: 0;
  padding: 0;
}

.project-details {
  padding: 0;
  margin: 0 0 10px 30px;
}

.project-details-item {
  margin: 3px 0;
}

.project-technologies {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: #4dafe1;
}

.projects-techs-container {
  display: flex;
}

.projects-techs-list {
  padding: 0;
  margin: 0 0 5px 30px;
}

.projects-techs-item {
  margin: 5px 0;
}

.code-live {
  margin: 5px 0 0 7px;
}

.code {
  margin: 0 5px 0 0;
  text-decoration: underline;
}

.live {
  margin: 0 0 0 5px;
  text-decoration: underline;
}

.code:hover,
.live:hover {
  color: #000;
}

/* about section css */
.about-me {
  display: block;
  text-align: center;
  padding-top: 100px;
  font-size: 4rem;
  color: #4dafe1;
}

.me {
  color: #4dafe1;
}

.personal-div,
.professional-div {
  margin: 15px;
}

.personal,
.professional {
  color: #4dafe1;
  margin-top: 50px;
  font-size: 2.5rem;
  text-align: center;
}

.about-me-information {
  margin-top: 20px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  overflow: auto;
}

.skills {
  display: block;
  text-align: center;
}

.skills-header {
  text-align: center;
  display: block;
  padding-top: 100px;
  font-size: 55px;
  color: #4dafe1;
}

.skill-images {
  text-align: center;
  display: block;
}

.skills-container {
  display: inline-block;
}

.skills-label {
  font-size: 1.3rem;
  color: #fff;
}

.html-image,
.css-image,
.javascript-image,
.react-image,
.bootstrap-image,
.git-image,
.node-image,
.mongo-image {
  margin: 30px;
}

.dev-tools-header {
  padding-top: 100px;
  font-size: 40px;
  color: #4dafe1;
}

@media (max-width: 770px) {
  .html-image,
  .css-image,
  .javascript-image,
  .react-image,
  .bootstrap-image,
  .git-image,
  .node-image,
  .mongo-image {
    height: 70%;
    width: 70%;
  }
}

@media (max-width: 575px) {
  .html-image,
  .css-image,
  .javascript-image,
  .react-image,
  .bootstrap-image,
  .git-image,
  .node-image,
  .mongo-image {
    height: 50%;
    width: 50%;
  }
}

/* contact section css */
.intro {
  padding-top: 100px;
  font-size: 4rem;
  color: #4dafe1;
  text-align: center;
}

.contact-items {
  margin-top: 50px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 100px 0;
}

.email,
.phone,
.linkedin-contact,
.resume-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-image-container {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-title {
  color: #4dafe1;
  font-size: 1.2rem;
}

.contact-info {
  color: #fff;
}

.contact-info a:hover {
  color: #4dafe1;
}

.email-image {
  margin-top: 22px;
}

.phone-image {
  margin-top: 22px;
}

.linkedin-contact {
  margin-top: 24px;
}

.linkedin-image {
  margin-top: 13px;
}

.resume-contact {
  margin-bottom: 0px;
}

.resume-image {
  margin: 18px 3px 0 0;
}

.contact {
  text-align: center;
  margin-top: 50px;
}

.contact-me {
  font-size: 2rem;
  color: white;
  margin-bottom: 25px;
}

.name-email {
  justify-content: center;
}

.input {
  margin: 10px;
  margin-bottom: 40px;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  color: white;
}

.input:focus,
textarea:focus {
  color: white;
}

.message {
  justify-content: center;
}

textarea {
  height: 150px;
  width: 300px;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.send {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  background: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.send:hover {
  background-color: #4dafe1;
}

/* project section responsive */

@media (max-width: 767px) {
  .project-container {
    height: auto;
  }

  .project-information {
    width: 100%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 0;
  }

  .project-title-details {
    width: 100%;
  }

  .project-tech {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project-image-container {
    height: 40%;
  }
}

@media (max-width: 1100px) and (min-width: 767px) {
  .project-container {
    height: 500px;
  }

  .project-information {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
    margin-left: 0;
  }

  .project-title-details {
    width: 50%;
  }

  .project-tech {
    margin: 7px 10px 0 10px;
  }
}

@media (max-width: 1100px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .project-image-container {
    width: 100%;
    justify-content: center;
    height: 45%;
  }
}

/* contact section responsive */

@media (max-width: 767px) {
  .resume-contact {
    margin-top: 20px;
  }
}
